.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
server/**
.git/**

node_modules/**
**/node_modules/**

**/*.ts
**/*.map
tsconfig.json
eslint.config.mjs

test/**
**/*.test.*

.gitignore
.yarnrc
vsc-extension-quickstart.md
package-lock.json
